In [1]:
import pandas as pd

In [2]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [52]:
bike_df = bike_data.copy()

In [21]:
display(bike_df)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

Number of NaN in ['start station id']

In [7]:
bike_df['start station id'].isnull().sum()

169

or

In [ ]:
bike_df.info()

Какой тип данных имеют столбцы starttime и stoptime?

In [9]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [15]:
bike_df['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

Велосипед с каким идентификатором является самым популярным?

In [16]:
bike_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [17]:
bike_df['usertype'].mode()

0    Subscriber
Name: usertype, dtype: object

In [19]:
Sub_sum = bike_df[bike_df['usertype'] == 'Subscriber'].shape[0]
print(Sub_sum/300000)

0.7740066666666666

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [20]:
bike_df['gender'].mode()

0    1
Name: gender, dtype: int64

In [22]:
display(bike_df[bike_df['gender'] == 1].shape[0])

183582

 Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу?

In [27]:
s_id = bike_df['start station id'].nunique()

In [28]:
e_id = bike_df['end station id'].nunique()

In [30]:
if s_id == e_id:
    print('Equel')
else:
    print('no_Equel')

no_Equel

В рассматриваемые дни минимальный возраст клиента составлял 10 лет?

In [35]:
bike_df['birth year'].max()

2002

Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"

In [39]:
bike_df['start station name'].describe()

count                                299831
unique                                  759
top       Grand Army Plaza & Central Park S
freq                                   1928
Name: start station name, dtype: object

In [40]:
bike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

 Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"?

In [41]:
bike_df['end station name'].describe()

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [43]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [54]:
bike_df = bike_df.drop('end station latitude', axis=1)
bike_df = bike_df.drop('end station longitude', axis=1)

In [55]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [56]:
bike_df.shape[1]

12

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [58]:
St_year = 2018
bike_df['age'] = St_year - bike_df['birth year']
print(bike_df['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [60]:
bike_df = bike_df.drop('birth year', axis=1)

In [63]:
display(bike_df[bike_df['age'] > 60].shape[0])

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [ ]:
display(bike_df)

In [69]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])

In [70]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

In [72]:
bike_df['trip doration'] = bike_df['stoptime'] - bike_df['starttime']

In [82]:
bike_df['trip doration'].iloc[3]

Timedelta('0 days 00:07:16.837000')

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [86]:
bike_df['tri pday']  = bike_df['starttime'].dt.dayofweek

In [97]:
bike_df = bike_df.drop('tripday', axis=1)

In [98]:
def get_weekday(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0
bike_df['weekend'] = bike_df['trip day'].apply(get_weekday)

In [99]:
display(bike_df)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,bikeid,usertype,gender,age,trip doration,trip day,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,25577,Subscriber,1,38,0 days 00:27:15.365000,5,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,34377,Subscriber,0,49,0 days 00:02:12.200000,5,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,30496,Subscriber,1,43,0 days 00:55:37.898000,5,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,28866,Subscriber,2,34,0 days 00:07:16.837000,5,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,20943,Customer,1,24,0 days 02:20:57.993000,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,19531,Subscriber,2,28,0 days 00:07:23.648000,2,0
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,34020,Subscriber,1,36,0 days 00:11:33.138000,2,0
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,33220,Subscriber,1,27,0 days 00:05:12.997000,2,0
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,34744,Subscriber,0,43,0 days 00:56:00.092000,2,0
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,18292,Subscriber,1,52,0 days 00:03:45.051000,2,0

In [101]:
bike_df[bike_df['weekend'] == 1].shape[0]

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:  

поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;  

поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;  

поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;  

поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).  

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [104]:
def get_time_of_day(time):
      if 0 <= time <= 6:
        return 'night'
      elif 6 < time <= 12:
        return 'morning'
      elif 12 < time <= 18:
        return 'day'
      elif 18 < time <= 23:
        return 'evening'
      else:
        return 'else' 
bike_df['time of day'] = bike_df['starttime'].dt.hour.apply(get_time_of_day)

In [105]:
d = bike_df[bike_df['time of day'] == 'day'].shape[0]
n = bike_df[bike_df['time of day'] == 'night'].shape[0]
print(round(d/n))

9