In [1]:
import pandas as pd

In [2]:
student_data = pd.read_csv('data\students_performance.csv', sep=',')

In [3]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;  
race/ethnicity — раса/этническая принадлежность;  
parental level of education — уровень образования родителей;  
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);  
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);  
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Данные о скольких студентах содержатся в таблице?

In [5]:
student_data.shape[0]

1000

Каков балл по письму у студента под индексом 155?

In [8]:
display(student_data.iloc[155]['writing score'])

88

Сколько суммарно пропущенных значений в таблице?

In [16]:
student_data.isna().sum().sum()

0

Сколько столбцов в таблице имеет тип данных object?

In [31]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Какой объём памяти (в килобайтах) занимает таблица?

In [32]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков у студентов средний балл по математике?

In [33]:
student_data['math score'].mean()

66.089

Какая расовая группа является самой крупной в учебном заведении?

In [37]:
student_data['race/ethnicity'].describe()

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [47]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

Сколько студентов получили 0 баллов по математике?

In [48]:
student_data[student_data['math score'] == 0].shape[0]

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [54]:
a = student_data[student_data['lunch'] == 'standard']['math score'].mean()
b = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
if a > b:
    print('a: ', a)
else:
    print('b: ', b)
#student_data['lunch']

a:  70.03410852713178

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [66]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [91]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(a - c)/c)
# group A
# group C

0.01075654356400139